@import "tailwindcss";

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* Hide number input arrows */
  .no-spinner::-webkit-inner-spin-button,
  .no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .no-spinner {
    appearance: textfield;
    -moz-appearance: textfield;
  }
}